<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FireGuard</title>
    <script>
        function submitLogin(event) {
            event.preventDefault(); // prevent page reload

            const formData = new FormData(document.getElementById('loginForm'));

            fetch('/', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                const messageDiv = document.getElementById('message');
                messageDiv.innerText = data.message;
                messageDiv.style.color = data.success ? 'green' : 'red';

                if(data.success) {
                    window.location.href= '/mainpage'
                }
            })
            .catch(error => console.error('Error:', error));
        }
    </script>
    <style>
        body {
            margin: 0;
            display: flex;
            height: 100vh;
            font-family: Arial, sans-serif;
        }

        #panel {
            width: 50%;
            padding: 20px;
            box-sizing: border-box;
            background-color: white;
        }

        #map {
            width: 50%;
            height: 100%
        }
    </style>
</head>
<body>
    <div id="panel">
        <img src="{{ url_for('static', filename='FireGuardLogo.jpg') }}" alt="FireGuardLogo" style="width: 200px;"><br>

        <form id="loginForm" onsubmit="submitLogin(event)">
            <input type="text" id="username" name="username" placeholder="Epost / brukernavn" style="margin-top: 5px"><br>
            <input type="password" id="password" name="password" placeholder="Passord" style="margin-top: 5px"><br>

            <button type="submit" style="margin-top: 5px">Login</button>
        </form>
        <div id="message" style="margin-top: 10px; font-weight: bold;"></div>

        <button type="button" onclick="continueWithoutLogin()" style="margin-top: 10px;">Continue without login</button>

        <script>
            function continueWithoutLogin() {
                fetch('/set-guest', {method: 'POST'}).then(() => { window.location.href = '/mainpage';})
            };
        </script>

    </div>
    <div id="map">

    </div>
</body>
</html>